.container {
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  padding: 20px 0px;
}
.header__first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__second-section {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__row_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__row_menu {
  width: 202px;
}
.header__row_btn-upload a {
  display: inline-block;
  border: none;
  padding: 12px 16px;
  background: #3772FF;
  border-radius: 90px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FCFCFD;
}
.header__row_btn-cwallet a {
  display: inline-block;
  border: none;
  padding: 12px 16px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #23262F;
}
.header__logo_img {
  max-width: 32px;
  max-height: 32px;
}
.header__logo_name {
  margin-left: 8px;
  margin-right: 32px;
}
.header__logo_name a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262F;
}
.header__logo_border {
  width: 2px;
  height: 40px;
  background: #E6E8EC;
  border-radius: 2px;
}
.header__menu {
  margin-left: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__menu_item a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #777E91;
}
.header__search_form {
  border: 2px solid #E6E8EC;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px 10px 16px;
}
.header__search_form input {
  width: 256px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.header__search_form input:focus {
  outline: none;
}
.header__search_form button {
  border: none;
  background: none;
  cursor: pointer;
  width: 16.67px;
  height: 16.67px;
}
.header__search_form button img {
  max-width: 16.67px;
  max-height: 16.67px;
}
.header__notification {
  width: 30px;
  height: 30px;
  position: relative;
}
.header__notification_item {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0px;
  top: 0px;
  /* Primary/4 */
  background: #45B36B;
  border-radius: 8px;
}
.header__notification_img {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
}

.front-block__section {
  margin-top: 128px;
}
.front-block__row {
  text-align: center;
}
.front-block__row_subtitle h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #777E91;
}
.front-block__row_title {
  margin-top: 8px;
}
.front-block__row_title h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #23262F;
}
.front-block__row_btn {
  margin-top: 24px;
}
.front-block__row_btn a {
  display: inline-block;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  padding: 16px 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #23262F;
}

.front-content-section {
  margin-top: 128px;
}

.front-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.front-content__row_img {
  position: relative;
}
.front-content__row_img img {
  width: 646px;
}
.front-content__row_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.front-content__img_picture img {
  width: 646px;
}
.front-content__img_audio {
  position: absolute;
  bottom: 10px;
  left: 8px;
}
.front-content__img_audio audio {
  width: 624px;
}
.front-content__content_name h1 {
  max-width: 352px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #23262F;
}
.front-content__content_description {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.front-content__content_btn-place {
  margin-top: 40px;
}
.front-content__content_btn-place a {
  display: inline-block;
  padding: 16px 133px;
  background: #3772FF;
  border-radius: 90px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #FCFCFD;
}
.front-content__content_btn-view {
  margin-top: 8px;
}
.front-content__content_btn-view a {
  display: inline-block;
  padding: 16px 137px;
  border-radius: 90px;
  border: 2px solid #E6E8EC;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #23262F;
}
.front-content__description_creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 65px;
}
.front-content__description_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.front-content__creator_face img {
  max-height: 40px;
  max-width: 40px;
}
.front-content__creator_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
}
.front-content__creator_title h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.front-content__creator_title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262F;
}
.front-content__price_face img {
  max-height: 40px;
  max-width: 40px;
}
.front-content__price_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 8px;
}
.front-content__price_title h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.front-content__price_title p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262F;
}
.front-content__arrows {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.front-content__arrows_prev a img {
  padding: 15px 15px 15px 13px;
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  border-radius: 40px;
}
.front-content__arrows_next {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.front-content__arrows_next a img {
  padding: 15px 13px 15px 13px;
  display: inline-block;
  max-width: 40px;
  max-height: 40px;
  border-radius: 40px;
  border: 2px solid #E6E8EC;
}

.auction-card {
  margin-top: 40px;
  display: inline-block;
  padding: 32px 80px;
  border: 2px solid #E6E8EC;
  /* depth/4 */
  -webkit-box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
          box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}
.auction-card__header h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262F;
  line-height: 24px;
}
.auction-card__price p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #141416;
  letter-spacing: -0.02em;
}
.auction-card__subprice p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #777E91;
  line-height: 32px;
}
.auction-card__timer {
  max-width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.auction-card__timer_header h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262F;
}
.auction-card__timer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hrs__number {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: -0.01em;
  /* Neutrals/1 */
  color: #141416;
}
.hrs__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Neutrals/4 */
  color: #777E91;
}

.mins__number {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: -0.01em;
  /* Neutrals/1 */
  color: #141416;
}
.mins__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Neutrals/4 */
  color: #777E91;
}

.secs__number {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: -0.01em;
  /* Neutrals/1 */
  color: #141416;
}
.secs__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* Neutrals/4 */
  color: #777E91;
}

.place-row {
  margin-top: 136px;
}
.place-row__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.place-row__row_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.place-row__main-card-fblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.place-row__slider_all-users {
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.place-row__main-card-img img {
  border-radius: 12px;
}
.place-row__main-card_title {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.place-row__title_img {
  margin-right: 16px;
}
.place-row__title_name h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262F;
}
.place-row__title_name p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #353945;
}
.place-row__title_price h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.place-row__title_price p {
  border: 2px solid #45B36B;
  border-radius: 4px;
  padding: 8px 8px 6px 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #45B36B;
}
.place-row__all-users_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.place-row__all-users_user:last-child {
  margin-bottom: 0px;
}
.place-row__user_info {
  margin-left: 24px;
  margin-top: 2.5px;
}
.place-row__user_info h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #23262F;
}
.place-row__user_btn {
  margin-top: 12px;
}
.place-row__user_btn a {
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #23262F;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.place-row__user_btn a:hover {
  background: #3772FF;
  color: white;
  border: 2px solid #3772FF;
}
.place-row__info_title {
  max-width: 167px;
}
.place-row__info_persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}
.place-row__info_persona p {
  margin-right: 11px;
  margin-left: 11px;
  border: 2px solid #45B36B;
  border-radius: 4px;
  padding: 8px 8px 6px 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #45B36B;
}
.place-row__info_persona h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777E91;
}
.place-row__creators {
  border-left: 2px solid #E6E8EC;
}
.place-row__creators_btn {
  margin-left: 32px;
}
.place-row__creators_btn a {
  display: inline-block;
  border: 2px solid #E6E8EC;
  border-radius: 90px;
  padding: 12px 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #23262F;
}
.place-row__creators_header {
  margin-left: 32px;
}
.place-row__creators_header h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}
.place-row__creators_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 0px;
  border-bottom: 2px solid #E6E8EC;
  margin-left: 32px;
}
.place-row__creators_column:last-child {
  border-bottom: none;
}
.place-row__column_img {
  margin-right: 16px;
}
.place-row__column_names p {
  padding-right: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #23262F;
}
.place-row__column_names h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #353945;
}
.place-row__img {
  position: relative;
}
.place-row__img_number {
  position: absolute;
}
.place-row__img_number p {
  background: #23262F;
  padding: 2px 8px;
  border: 2px solid #FCFCFD;
  border-radius: 64px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FCFCFD;
}

.hidd {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}