.container {
    max-width: 1120px;
    margin: 0 auto;
}


// header start


.header {
    padding: 20px 0px;

    &__first-section {
        display: flex;
        align-items: center;
    }

    &__second-section {
        width: 650px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__row

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // .header__row_logo

        &_logo {
            display: flex;
            align-items: center;
        }

        // .header__row_menu

        &_menu {
            width: 202px;
        }

        // .header__row_search

        // &_search {}

        // // .header__row_notification

        // &_notification {}

        // .header__row_btn-upload

        &_btn-upload {
            a {
                display: inline-block;
                border: none;
                // btn style
                padding: 12px 16px;
                background: #3772FF;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #FCFCFD;
            }
        }

        // .header__row_btn-cwallet

        &_btn-cwallet {
            a {
                display: inline-block;
                border: none;
                // btn style
                padding: 12px 16px;
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #23262F;
            }
        }
    }

    // .header__logo

    &__logo {

        // .header__logo_img

        &_img {
            max-width: 32px;
            max-height: 32px;
        }

        // .header__logo_name

        &_name {
            margin-left: 8px;
            margin-right: 32px;

            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #23262F;
            }
        }

        // .header__logo_border

        &_border {
            width: 2px;
            height: 40px;
            background: #E6E8EC;
            border-radius: 2px;
        }
    }

    // .header__menu

    &__menu {
        margin-left: 32px;
        justify-content: space-between;
        display: flex;


        // .header__menu_item

        &_item {
            a {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #777E91;
            }
        }
    }

    // .header__search

    &__search {
        &_form {
            border: 2px solid #E6E8EC;
            border-radius: 8px;
            display: flex;
            padding: 10px 16px 10px 16px;

            input {
                width: 256px;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

                &:focus {
                    outline: none;
                }
            }

            button {
                border: none;
                background: none;
                cursor: pointer;
                width: 16.67px;
                height: 16.67px;

                img {
                    max-width: 16.67px;
                    max-height: 16.67px;
                }
            }
        }
    }

    // .header__notification

    &__notification {
        width: 30px;
        height: 30px;
        // .header__notificatio_item
        position: relative;

        &_item {
            position: absolute;
            width: 12px;
            height: 12px;
            right: 0px;
            top: 0px;

            /* Primary/4 */

            background: #45B36B;
            border-radius: 8px;
        }

        // .header__notificatio_img

        &_img {
            cursor: pointer;
            position: absolute;
            bottom: 0px;
        }
    }
}


// header finish

// ======================================

// front block start

.front-block {

    // .front-block__section

    &__section {
        margin-top: 128px;
    }

    // .front-block__row

    &__row {
        text-align: center;
        // .front-block__row_subtitle

        &_subtitle {
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
                color: #777E91;
            }
        }

        // .front-block__row_title

        &_title {
            margin-top: 8px;

            h2 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;

                color: #23262F;

            }
        }

        // .front-block__row_btn

        &_btn {
            margin-top: 24px;

            a {

                display: inline-block;
                // btn style
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                padding: 16px 24px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #23262F;
            }
        }
    }
}


// front-block finish

// ==============================

// front-content start


.front-content-section {
    margin-top: 128px;
}

.front-content {


    // .front-content__row

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // .front-content__row_img

        &_img {
            img {
                width: 646px;
            }

            position: relative;
        }

        // .front-content__row_content

        &_content {}
    }

    // .front-content__img

    &__img {

        // .front-content__img_picture

        &_picture {}

        // .front-content__img_audio

        &_audio {
            position: absolute;

            bottom: 10px;
            left: 8px;

            audio {
                width: 624px;
            }
        }
    }

    // .front-content__content

    &__content {

        // .front-content__content_name

        &_name {
            h1 {
                max-width: 352px;

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                color: #23262F;
            }
        }

        // .front-content__content_description

        &_description {
            margin-top: 22px;
            display: flex;

        }

        // .front-content__content_btn-place

        &_btn-place {
            margin-top: 40px;

            a {
                display: inline-block;
                // btn style
                padding: 16px 133px;
                background: #3772FF;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FCFCFD;
            }
        }

        // .front-content__content_btn-view

        &_btn-view {
            margin-top: 8px;

            a {
                display: inline-block;
                // btn style
                padding: 16px 137px;
                border-radius: 90px;
                border: 2px solid #E6E8EC;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #23262F;

            }
        }
    }

    // .front-content__description

    &__description {

        // .front-content__description_creator

        &_creator {
            display: flex;
            margin-right: 65px;
        }

        // .front-content__description_price

        &_price {
            display: flex;
        }
    }

    // .front-content__creator

    &__creator {

        // .front-content__creator_face

        &_face {}

        // .front-content__creator_title

        &_title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 8px;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;

            }
        }
    }

    // .front-content__price

    &__price {

        // .front-content__price_face

        &_face {}

        // .front-content__price_title

        &_title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 8px;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;

            }
        }
    }

    // .front-content__arrows

    &__arrows {
        margin-top: 40px;
        display: flex;
        // .front-content__arrows_prev

        &_prev {}

        a {


            img {
                padding: 15px 15px 15px 13px;
                display: inline-block;
                max-width: 40px;
                max-height: 40px;

                border-radius: 40px;


            }
        }

        // .front-content__arrows_next

        &_next {
            width: 40px;
            height: 40px;

            border-radius: 40px;

            a {
                img {
                    padding: 15px 13px 15px 13px;
                    display: inline-block;
                    max-width: 40px;
                    max-height: 40px;

                    border-radius: 40px;


                    border: 2px solid #E6E8EC;

                }
            }
        }
    }
}

.auction-card {
    margin-top: 40px;
    display: inline-block;
    padding: 32px 80px;
    border: 2px solid #E6E8EC;
    /* depth/4 */

    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;

    // .auction-card__header

    &__header {
        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #23262F;
            line-height: 24px;
        }
    }

    // .auction-card__price

    &__price {
        p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: #141416;
            letter-spacing: -0.02em;

        }
    }

    // .auction-card__subprice

    &__subprice {
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #777E91;
            line-height: 32px;
        }
    }

    // .auction-card__timer

    &__timer {
        max-width: 231px;

        &_header {
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;
            }
        }

        display: flex;
        flex-direction: column;

        // .auction-card__timer_hrs

        &_row {
            display: flex;
            justify-content: space-between;

            &_hrs {}

            // .auction-card__timer_mins

            &_mins {}

            // .auction-card__timer_secs

            &_secs {}
        }
    }

}

.hrs {

    // .hrs__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;

    }

    // .hrs__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}

.mins {

    // .mins__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;
    }

    // .mins__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}

.secs {

    // .secs__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;
    }

    // .secs__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}