.container {
    max-width: 1120px;
    margin: 0 auto;
}


// header start


.header {
    padding: 20px 0px;

    &__first-section {
        display: flex;
        align-items: center;
    }

    &__second-section {
        width: 650px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__row

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        // .header__row_logo

        &_logo {
            display: flex;
            align-items: center;
        }

        // .header__row_menu

        &_menu {
            width: 202px;
        }

        // .header__row_search

        // &_search {}

        // // .header__row_notification

        // &_notification {}

        // .header__row_btn-upload

        &_btn-upload {
            a {
                display: inline-block;
                border: none;
                // btn style
                padding: 12px 16px;
                background: #3772FF;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #FCFCFD;
            }
        }

        // .header__row_btn-cwallet

        &_btn-cwallet {
            a {
                display: inline-block;
                border: none;
                // btn style
                padding: 12px 16px;
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                color: #23262F;
            }
        }
    }

    // .header__logo

    &__logo {

        // .header__logo_img

        &_img {
            max-width: 32px;
            max-height: 32px;
        }

        // .header__logo_name

        &_name {
            margin-left: 8px;
            margin-right: 32px;

            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #23262F;
            }
        }

        // .header__logo_border

        &_border {
            width: 2px;
            height: 40px;
            background: #E6E8EC;
            border-radius: 2px;
        }
    }

    // .header__menu

    &__menu {
        margin-left: 32px;
        justify-content: space-between;
        display: flex;


        // .header__menu_item

        &_item {
            a {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #777E91;
            }
        }
    }

    // .header__search

    &__search {
        &_form {
            border: 2px solid #E6E8EC;
            border-radius: 8px;
            display: flex;
            padding: 10px 16px 10px 16px;

            input {
                width: 256px;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

                &:focus {
                    outline: none;
                }
            }

            button {
                border: none;
                background: none;
                cursor: pointer;
                width: 16.67px;
                height: 16.67px;

                img {
                    max-width: 16.67px;
                    max-height: 16.67px;
                }
            }
        }
    }

    // .header__notification

    &__notification {
        width: 30px;
        height: 30px;
        // .header__notificatio_item
        position: relative;

        &_item {
            position: absolute;
            width: 12px;
            height: 12px;
            right: 0px;
            top: 0px;

            /* Primary/4 */

            background: #45B36B;
            border-radius: 8px;
        }

        // .header__notificatio_img

        &_img {
            cursor: pointer;
            position: absolute;
            bottom: 0px;
        }
    }
}


// header finish

// ======================================

// front block start

.front-block {

    // .front-block__section

    &__section {
        margin-top: 128px;
    }

    // .front-block__row

    &__row {
        text-align: center;
        // .front-block__row_subtitle

        &_subtitle {
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
                color: #777E91;
            }
        }

        // .front-block__row_title

        &_title {
            margin-top: 8px;

            h2 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;

                color: #23262F;

            }
        }

        // .front-block__row_btn

        &_btn {
            margin-top: 24px;

            a {

                display: inline-block;
                // btn style
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                padding: 16px 24px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #23262F;
            }
        }
    }
}


// front-block finish

// ==============================

// front-content start


.front-content-section {
    margin-top: 128px;
}

.front-content {


    // .front-content__row

    &__row {
        display: flex;
        justify-content: space-between;

        // .front-content__row_img

        &_img {
            img {
                width: 646px;
            }

            position: relative;
        }

        // .front-content__row_content

        &_content {
            display: flex;
            flex-direction: column;
        }
    }

    // .front-content__img

    &__img {

        // .front-content__img_picture

        &_picture {
            img {
                width: 646px;
            }
        }

        // .front-content__img_audio

        &_audio {
            position: absolute;

            bottom: 10px;
            left: 8px;

            audio {
                width: 624px;
            }
        }
    }

    // .front-content__content

    &__content {

        // .front-content__content_name

        &_name {
            h1 {
                max-width: 352px;

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                color: #23262F;
            }
        }

        // .front-content__content_description

        &_description {
            margin-top: 22px;
            display: flex;

        }

        // .front-content__content_btn-place

        &_btn-place {
            margin-top: 40px;

            a {
                display: inline-block;
                // btn style
                padding: 16px 133px;
                background: #3772FF;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FCFCFD;
            }
        }

        // .front-content__content_btn-view

        &_btn-view {
            margin-top: 8px;

            a {
                display: inline-block;
                // btn style
                padding: 16px 137px;
                border-radius: 90px;
                border: 2px solid #E6E8EC;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #23262F;

            }
        }
    }

    // .front-content__description

    &__description {

        // .front-content__description_creator

        &_creator {
            display: flex;
            margin-right: 65px;
        }

        // .front-content__description_price

        &_price {
            display: flex;
        }
    }

    // .front-content__creator

    &__creator {

        // .front-content__creator_face

        &_face {
            img {
                max-height: 40px;
                max-width: 40px;
            }
        }

        // .front-content__creator_title

        &_title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 8px;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;

            }
        }
    }

    // .front-content__price

    &__price {

        // .front-content__price_face

        &_face {
            img {
                max-height: 40px;
                max-width: 40px;
            }
        }

        // .front-content__price_title

        &_title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 8px;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;

            }
        }
    }

    // .front-content__arrows

    &__arrows {
        margin-top: 40px;
        display: flex;
        // .front-content__arrows_prev

        &_prev {
            a {


                img {
                    padding: 15px 15px 15px 13px;
                    display: inline-block;
                    max-width: 40px;
                    max-height: 40px;

                    border-radius: 40px;


                }
            }
        }


        // .front-content__arrows_next

        &_next {
            width: 40px;
            height: 40px;

            border-radius: 40px;

            a {
                img {
                    padding: 15px 13px 15px 13px;
                    display: inline-block;
                    max-width: 40px;
                    max-height: 40px;

                    border-radius: 40px;


                    border: 2px solid #E6E8EC;

                }
            }
        }
    }
}

.auction-card {
    margin-top: 40px;
    display: inline-block;
    padding: 32px 80px;
    border: 2px solid #E6E8EC;
    /* depth/4 */

    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;

    // .auction-card__header

    &__header {
        h3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #23262F;
            line-height: 24px;
        }
    }

    // .auction-card__price

    &__price {
        p {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: #141416;
            letter-spacing: -0.02em;

        }
    }

    // .auction-card__subprice

    &__subprice {
        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #777E91;
            line-height: 32px;
        }
    }

    // .auction-card__timer

    &__timer {
        max-width: 231px;

        &_header {
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;
            }
        }

        display: flex;
        flex-direction: column;

        // .auction-card__timer_hrs

        &_row {
            display: flex;
            justify-content: space-between;

            // &_hrs {}

            // // .auction-card__timer_mins

            // &_mins {}

            // // .auction-card__timer_secs

            // &_secs {}
        }
    }

}

.hrs {

    // .hrs__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;

    }

    // .hrs__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}

.mins {

    // .mins__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;
    }

    // .mins__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}

.secs {

    // .secs__number

    &__number {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* identical to box height, or 125% */

        text-align: center;
        letter-spacing: -0.01em;

        /* Neutrals/1 */

        color: #141416;
    }

    // .secs__title

    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        text-align: center;

        /* Neutrals/4 */

        color: #777E91;
    }
}

// front-content finish

// ===============================

// place-row start
.place-row {
    margin-top: 136px;

    &__row {
        display: flex;
        justify-content: space-between;


        &_slider {
            display: flex;
            justify-content: space-between;
        }
    }

    &__main-card-fblock {
        display: flex;
        align-items: center;
    }

    &__slider {

        // &_main-card {}

        &_all-users {
            margin-left: 24px;
            display: flex;
            flex-direction: column;
        }
    }

    &__main-card-img {

        img {
            border-radius: 12px;
        }
    }

    &__main-card {

        &_title {
            margin-top: 17px;
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {


        &_img {
            margin-right: 16px;
        }

        &_name {
            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #23262F;

            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #353945;
            }
        }

        &_price {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }

            p {
                border: 2px solid #45B36B;
                border-radius: 4px;
                padding: 8px 8px 6px 8px;

                // text style
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
                color: #45B36B;
            }
        }
    }

    &__all-users {

        &_user {
            display: flex;
            margin-bottom: 24px;
            align-items: center;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__user {

        // &_img {}

        &_info {
            margin-left: 24px;
            margin-top: 2.5px;

            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;

            }
        }

        &_btn {
            margin-top: 12px;

            a {
                display: inline-block;
                padding: 8px 12px;
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #23262F;
                transition: 0.3s all;

                &:hover {
                    background: #3772FF;
                    color: white;
                    border: 2px solid #3772FF;
                }
            }
        }
    }

    &__info {


        &_title {
            max-width: 167px;
        }

        &_persona {
            display: flex;
            margin-top: 5px;

            p {
                margin-right: 11px;
                margin-left: 11px;
                border: 2px solid #45B36B;
                border-radius: 4px;
                padding: 8px 8px 6px 8px;

                // text style
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                text-transform: uppercase;
                color: #45B36B;
            }

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #777E91;
            }
        }
    }

    &__creators {
        border-left: 2px solid #E6E8EC;

        &_btn {
            margin-left: 32px;

            a {
                display: inline-block;
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                padding: 12px 16px;
                // text style
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #23262F;

            }
        }

        &_header {
            margin-left: 32px;

            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }
        }

        // &_columns {}

        &_column {
            display: flex;
            align-items: center;
            padding: 23px 0px;
            border-bottom: 2px solid #E6E8EC;
            margin-left: 32px;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__column {


        &_img {
            margin-right: 16px;
        }

        &_names {
            p {
                padding-right: 50px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;
            }

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #353945;
            }
        }
    }

    &__img {
        position: relative;

        &_number {
            position: absolute;


            p {
                background: #23262F;
                padding: 2px 8px;
                border: 2px solid #FCFCFD;
                border-radius: 64px;
                // text style
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #FCFCFD;
            }
        }
    }
}

.hidd {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #777E91;
}

// place-row finish

// ===================================

// sellsers start

.sellers {
    margin-top: 126px;
    padding: 128px 0px;
    background: #F4F5F6;

    // .sellers__header

    &__header {

        // .sellers__header_row

        &_row {
            display: flex;
            justify-content: space-between;
        }
    }

    // .sellers__headers

    &__headers {

        // .sellers__headers_title

        &_title {
            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #777E91;
            }
        }

        // .sellers__headers_discription

        &_discription {
            a {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #23262F;
            }
        }
    }

    // .sellers__dropdown

    // &__dropdown {}

    // .sellers__slider

    &__slider {
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        // .sellers__slider_item

        &_item {
            margin: 0px 32px;
            max-width: 198.4px;
            max-height: 227px;
            background: #FCFCFD;
            border-radius: 16px;
            padding: 24px;
            transition: all 0.3s ease;
            box-shadow: none;
            margin-bottom: 100px;

            &:hover {
                max-height: 247px;
                padding-bottom: 64px;
                box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.295);
            }
        }
    }
}



/* Кнопка выпадающего списка */
.dropbtn {
    display: flex;
    justify-content: space-between;
    width: 256px;
    padding: 12px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    color: #23262F;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    right: 0px;
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    color: #23262F;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
    display: block;
}

// /* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
// .dropdown:hover .dropbtn {}

.slider {

    // .slider__item

    &__item {
        display: flex;
        flex-direction: column;
        // .slider__item_top

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 24px;
            border-bottom: 1px solid #E6E8EC;
            margin-bottom: 24px;

        }

        // .slider__item_bottom

        &_bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    // .slider__top

    &__top {
        border-bottom: 1px solid #000;
        // .slider__top_place

        &_place {

            background: #3772FF;
            border-radius: 24px;
            padding: 4px 8px 3px 8px;

            P {
                display: flex;

                img {
                    margin-right: 5px;
                }

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                /* identical to box height, or 167% */


                /* Neutrals/8 */

                color: #FCFCFD;

            }
        }

        // .slider__top_add

        // &_add {}

        // // .slider__top_link

        // &_link {}
    }

    // .slider__bottom

    &__bottom {

        // .slider__bottom_face

        &_face {
            position: relative;
            margin-bottom: 24px;
        }

        // .slider__bottom_header

        &_header {


            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                /* identical to box height, or 171% */


                /* Neutrals/2 */

                color: #23262F;


            }
        }

        // .slider__bottom_price

        &_price {
            margin-top: 2px;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 20px;
                color: #353945;
            }
        }
    }
}

.wrapper_place {
    display: flex;
}

.face-diamond {
    position: absolute;
    bottom: -5px;
    right: 0px;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute !important;
    top: 130px !important;
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

/* Arrows */
// sellsers finsih
// hot

.hot {
    padding: 136px 0px;
    // .hot__header

    &__header {

        // .hot__header_title

        &_title {

            margin-bottom: 64px;

            h2 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #23262F;
            }
        }
    }

    // .hot__row

    &__row {
        display: flex;
        justify-content: space-between;
    }

    // .hot__item

    &__item {
        max-width: 256px;
        display: flex;
        flex-direction: column;
        // .hot__item_img

        &_img {
            margin-bottom: 21px;

            img {
                border-radius: 16px;
            }
        }

        // .hot__item_title

        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 6px;
        }

        // .hot__item_people

        &_people {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;
        }

        // .hot__item_highest

        &_highest {

            border-top: 1px solid #E6E8EC;
            padding-top: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .hot__title

    &__title {

        // .hot__title_name

        &_name {
            p {

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;

            }
        }

        // .hot__title_price

        &_price {
            p {
                padding: 8px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                color: #45B36B;
                border: 2px solid #45B36B;
                border-radius: 4px;
            }
        }
    }

    // .hot__people

    &__people {

        // .hot__people_peoples

        &_peoples {
            position: relative;

            img:nth-child(2) {
                position: absolute;
                left: 15px;
            }

            img:nth-child(3) {
                position: absolute;
                left: 30px;
            }
        }

        // .hot__people_stoks

        &_stoks {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #353945;
            }
        }
    }

    // .hot__highest

    &__highest {

        // .hot__highest_text

        &_text {
            display: flex;
            align-items: center;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }
        }

        // .hot__highest_fire

        &_fire {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }
        }
    }
}

.bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    color: #353945;
}

// hot finish
// ===============================
// collection start
.collection {
    padding: 128px 0px;
    background: #F4F5F6;
    // .collection__header

    &__header {

        // .collection__header_title

        &_title {
            margin-bottom: 72px;

            h2 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #23262F;
            }
        }
    }

    // .collection__row

    &__row {
        display: flex;
        justify-content: space-between;

        // .collection__row_item

        &_item {
            max-width: 382px;
        }
    }

    // .collection__item

    &__item {

        // .collection__item_slider

        &_slider {}

        // .collection__item_title

        &_title {
            margin-top: 12px;

            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #23262F;
            }
        }

        // .collection__item_people-row

        &_people-row {
            max-width: 352px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .collection__for

    &__for {
        img {
            max-width: 352px;
        }
    }

    // .collection__nav

    &__nav {
        max-width: 360px;

        margin-top: 10px;

        img {
            max-width: 112px;

        }
    }

    // .collection__people

    &__people {
        display: flex;
        align-items: center;

        img {
            margin-right: 12px;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #353945;
        }
    }

    // .collection__items

    &__items {
        p {
            border: 2px solid #E6E8EC;
            border-radius: 4px;
            padding: 8px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            color: #23262F;
        }
    }
}

// collection finish

// discover start
.discover {
    padding-bottom: 128px;
    // .discover__header

    &__header {

        // .discover__header_title

        &_title {
            margin-top: 128px;
            margin-bottom: 90px;

            h3 {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                color: #23262F;
            }
        }
    }

    // .discover__row

    &__row {

        // .discover__row_menu

        &_menu {
            ul {
                display: flex;
                width: 400px;
                justify-content: space-between;

                li {
                    a {
                        font-family: 'DM Sans';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        color: #777E91;
                    }
                }
            }
        }

        // .discover__row_btn

        &_btn {
            display: inline-block;

            a {
                padding: 16px 24px;
                background: #3772FF;
                border-radius: 90px;

                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FCFCFD;

                img {
                    margin-left: 15px;
                }
            }
        }
    }

    // .discover__items

    &__items {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .discover__item

    &__item {
        max-width: 256px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        // .hot__item_img

        &_img {
            margin-bottom: 21px;

            img {
                border-radius: 16px;
            }
        }

        // .hot__item_title

        &_title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 6px;
        }

        // .hot__item_people

        &_people {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 12px;
        }

        // .hot__item_highest

        &_highest {

            border-top: 1px solid #E6E8EC;
            padding-top: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    // .discover__title

    &__title {

        // .hot__title_name

        &_name {
            p {

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;

            }
        }

        // .hot__title_price

        &_price {
            p {
                padding: 8px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                color: #45B36B;
                border: 2px solid #45B36B;
                border-radius: 4px;
            }
        }
    }

    // .hot__people

    &__people {

        // .hot__people_peoples

        &_peoples {
            position: relative;

            img:nth-child(2) {
                position: absolute;
                left: 15px;
            }

            img:nth-child(3) {
                position: absolute;
                left: 30px;
            }
        }

        // .hot__people_stoks

        &_stoks {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #353945;
            }
        }
    }


    // .discover__highest

    &__highest {

        // .hot__highest_text

        &_text {
            display: flex;
            align-items: center;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }
        }

        // .hot__highest_fire

        &_fire {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;
            }
        }
    }
}



.discover-menu {

    // .discover-menu__row

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 32px;
        border-bottom: 1px solid #E6E8EC;

    }
}




.discover-filters {

    // .discover-filters__row

    &__row {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // .discover-filters__row_price

        &_price {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: #B1B5C4;
                margin-bottom: 12px;
            }
        }

        // .discover-filters__row_likes

        &_likes {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: #B1B5C4;
                margin-bottom: 12px;
            }
        }

        // .discover-filters__row_creators

        &_creators {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: #B1B5C4;
                margin-bottom: 12px;
            }
        }

        // .discover-filters__row_prange

        &_prange {
            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 12px;
                color: #B1B5C4;
                margin-bottom: 12px;
            }
        }
    }
}

.btn_discover {
    display: flex;
    justify-content: space-evenly;


    a {

        text-align: center;
        padding: 12px 16px;
        width: 132px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #23262F;
        border: 2px solid #E6E8EC;
        border-radius: 90px;
    }
}

.eth-row {
    display: flex;
    justify-content: space-between;

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #23262F;
    }
}

.slider {
    width: 256px;
}

// discover dropdown start

.dropbtn-disc {
    display: flex;
    justify-content: space-between;
    width: 186px;
    padding: 12px 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    color: #23262F;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content-disc {
    display: none;
    right: 0px;
    position: absolute;
    background-color: #f1f1f1;
    width: 180px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: #FCFCFD;
    border: 2px solid #E6E8EC;
    border-radius: 12px;
    color: #23262F;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content-disc a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content-disc a:hover {
    background-color: #ddd;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content-disc {
    display: block;
}

// discover dropdown finish



// discover finish
// -------------------
// earn start


.earn {

    // .earn__row

    &__row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
        // .earn__row_content

        &_content {
            display: flex;
            flex-direction: column;
        }

        // .earn__row_img

        &_img {
            width: 640px;

            img {
                position: absolute;
            }
        }
    }

    // .earn__content

    &__content {

        // .earn__content_discription

        &_discription {
            margin-bottom: 12px;

            h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #777E91;
            }
        }

        // .earn__content_title

        &_title {
            position: relative;
            height: 128px;

            h2 {
                left: -0px;
                position: absolute;
                width: 545px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                color: #23262F;
            }
        }

        // .earn__content_subtitle

        &_subtitle {
            margin-top: 20px;

            h3 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #777E91;
            }
        }

        // .earn__content_btns

        &_btns {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    // .earn__btn

    &__btn {

        // .earn__btn_now

        &_now {
            a {
                display: inline-block;
                padding: 16px 24px;
                background: #3772FF;
                border-radius: 90px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #FCFCFD;

            }
        }

        // .earn__btn_more

        &_more {
            a {
                display: inline-block;
                padding: 16px 24px;
                border: 2px solid #E6E8EC;
                border-radius: 90px;
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #23262F;
            }
        }
    }
}


// earn finish
// =============================================
// footer start
.footer {
    margin-top: 304px;
    // .footer__columns

    &__columns {
        display: flex;
        justify-content: space-between;
    }

    // .footer__column

    &__column {
        p {

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #23262F;
            margin-bottom: 40px;
        }

        ul {
            li {
                font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                color: #777E91;
                margin-bottom: 24px;
            }
        }

        h3 {
            margin-top: 32px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            color: #23262F;
            max-width: 256px;
        }

        // .footer__column_logo

        &_logo {
            display: flex;
            align-items: center;

            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                color: #23262F;
                margin-left: 10px;
            }
        }

        // .footer__column_search

        &_search {
            display: flex;
            flex-direction: column;

            p {
                max-width: 352px;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                color: #23262F;
            }

            h3 {
                margin-bottom: 40px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #23262F;
            }

        }
    }

    // .footer__bottom

    &__bottom {
        margin-top: 48px;
        border-top: 1px solid #E6E8EC;
        padding: 32px 0px;
        ;
        display: flex;
        justify-content: space-between;
        // .footer__bottom_item-one

        &_item-one {
            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #777E91;

            }
        }

        // .footer__bottom_item-two

        &_item-two {
            display: flex;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                color: #23262F;
            }
        }
    }
}

.search {
    position: relative;
    display: flex;

    input {
        margin-top: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        width: 352px;
        padding: 14px 16px;
        border: 2px solid #E6E8EC;
        border-radius: 90px;

        display: flex;
        align-items: center;

    }

    button {
        position: absolute;
        width: 32px;
        height: 32px;
        background: #3772FF;
        border: 1px solid #3772FF;
        right: 10px;
        top: 36px;
        border-radius: 100px;
    }
}

.accept {
    margin-left: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #3772FF;
}

// footer finish


@media (min-width: 575px) and (max-width: 1300px) {
    @import "_1024px";
}